rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /burnlinks/{id} {
      allow read, create: if true;
      allow update: if true;
      allow delete: if request.auth != null &&
        request.auth.token.email in [
          'bryanescobar00899@gmail.com',
          'yunik.arg@gmail.com'
        ];
    }
  }
}
